:root {
  --branding-color: #3c3566;
  --background-color: #f2bcef;
  --text-dark-color: #262254;
  --text-light-color: #faf1e1;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font);
  color: var(--text-dark-color);
  line-height: 1.5;
}
h1,
h2 {
  font-family: var(--heading-font);
  text-align: center;
  color: var(--text-dark-color);
}

p {
  color: var(--text-dark-color);
  font-size: 16px;
}
.hero {
  margin: 10px 0px;
  background: var(--background-color);
  text-align: center;
  padding: 20px;
}
.hero h1 {
  font-size: 96px;
  margin-bottom: 30px;
  font-weight: 700;
}

.hero h2 {
  font-size: 24px;
  margin-bottom: 60px;
}

#hello {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
i {
  color: var(--branding-color);
  font-size: 26px;
}
.navbar {
  color: var(--text-dark-color);
  font-family: var(--heading-font);
  font-weight: 700;
}
.navbar img {
  border-radius: 100%;
  width: 80px;
  margin: 10px;
}
.contact-section {
  padding: 10px 80px;
  margin-top: 10px;
}
.dark-btn {
  background: #3c3566;
  color: var(--text-light-color);
  margin: 40px;
  padding: 18px 30px;
  font-size: 18px;
}
.dark-btn:hover {
  border: 4px solid var(--branding-color);
  color: var(--text-dark-color);
  font-size: 18px;
  line-height: 27px;
}
.light-btn {
  border: 4px solid var(--branding-color);
  color: var(--text-dark-color);
  margin: 40px;
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
}
.light-btn:hover {
  background: #3c3566;
  color: var(--text-light-color);
  font-size: 18px;
}
.first-project-h2 {
  font-size: 64px;
  font-weight: 700;
}
.first-project-p {
  line-height: 30px;
  font-weight: 400;
}
.about-me {
  color: var(--text-dark-color);
  text-align: start;
}
.about-me h1 {
  font-size: 64px;
  font-weight: 700;
}
.about-me .heading-paragraf {
  font-size: 18px;
  font-weight: 700;
}
.about-me .main-text {
  font-size: 16px;
  font-weight: 400;
}
.about-me img {
  width: 600px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.about-me .btn a {
  margin-left: 0px;
  font-size: 18px;
}
.contact-in-about {
  font-size: 64px;
  font-weight: 700;
  background: #ecceeb;
  border-radius: 20px;
}

.contact-in-about p {
  font-size: 18px;
  font-weight: 400;
}
.mail-link {
  display: block;
  margin: auto 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.contact-section-about {
  padding: 10px 200px;
  margin-top: 40px;
}
@media (max-width: 560px) {
  .hero h1 {
    font-size: 44px;
  }
  .first-project-h2 {
    font-size: 44px;
  }
  .hero {
    padding: 20px;
  }
}
